/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.corbado.api.v1

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import com.corbado.api.models.SessionConfigRsp
import com.corbado.api.models.UserDetailsConfigRsp

import com.squareup.moshi.Json

import com.corbado.api.infrastructure.ApiClient
import com.corbado.api.infrastructure.ApiResponse
import com.corbado.api.infrastructure.ClientException
import com.corbado.api.infrastructure.ClientError
import com.corbado.api.infrastructure.ServerException
import com.corbado.api.infrastructure.ServerError
import com.corbado.api.infrastructure.MultiValueMap
import com.corbado.api.infrastructure.PartConfig
import com.corbado.api.infrastructure.RequestConfig
import com.corbado.api.infrastructure.RequestMethod
import com.corbado.api.infrastructure.ResponseType
import com.corbado.api.infrastructure.Success
import com.corbado.api.infrastructure.toMultiValue

class ConfigsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://<project ID>.frontendapi.corbado.io")
        }
    }

    /**
     * GET /v2/session-config
     * 
     * tbd
     * @return SessionConfigRsp
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getSessionConfig() : SessionConfigRsp {
        val localVarResponse = getSessionConfigWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SessionConfigRsp
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v2/session-config
     * 
     * tbd
     * @return ApiResponse<SessionConfigRsp?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getSessionConfigWithHttpInfo() : ApiResponse<SessionConfigRsp?> {
        val localVariableConfig = getSessionConfigRequestConfig()

        return request<Unit, SessionConfigRsp>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getSessionConfig
     *
     * @return RequestConfig
     */
    fun getSessionConfigRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v2/session-config",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v2/user-details-config
     * 
     * Gets configs needed by the UserDetails component
     * @return UserDetailsConfigRsp
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getUserDetailsConfig() : UserDetailsConfigRsp {
        val localVarResponse = getUserDetailsConfigWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as UserDetailsConfigRsp
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v2/user-details-config
     * 
     * Gets configs needed by the UserDetails component
     * @return ApiResponse<UserDetailsConfigRsp?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getUserDetailsConfigWithHttpInfo() : ApiResponse<UserDetailsConfigRsp?> {
        val localVariableConfig = getUserDetailsConfigRequestConfig()

        return request<Unit, UserDetailsConfigRsp>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getUserDetailsConfig
     *
     * @return RequestConfig
     */
    fun getUserDetailsConfigRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v2/user-details-config",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
